## Fundamentos da Linguagem (revisão rápida)

In [29]:
#imports

In [30]:
# Exemplo: calcular média de valores

vals = [10, 20, 30, 40, 50]
media = sum(vals) / len(vals)
media

30.0

## Manipulação de Dados com pandas

In [31]:
import pandas as pd

df = pd.DataFrame({
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Diana'],
    'Idade': [23, 35, 45, 29],
    'Salário': [50000, 60000, 80000, 70000]
})

In [32]:
df.describe()

           Idade       Salário
count   4.000000      4.000000
mean   33.000000  65000.000000
std     9.380832  12909.944487
min    23.000000  50000.000000
25%    27.500000  57500.000000
50%    32.000000  65000.000000
75%    37.500000  72500.000000
max    45.000000  80000.000000

In [33]:
df.head()

     Nome  Idade  Salário
0     Ana     23    50000
1   Bruno     35    60000
2  Carlos     45    80000
3   Diana     29    70000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     4 non-null      object
 1   Idade    4 non-null      int64
 2   Salário  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [35]:
print(df['Nome'].value_counts())

Nome
Ana       1
Bruno     1
Carlos    1
Diana     1
Name: count, dtype: int64

## Numpy (operações matemáticas mais rápidas)

In [37]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
print(f'Média: {np.mean(arr)}')
print(f'Mediana: {np.median(arr)}')
print(f'Desvio Padrão: {np.std(arr)}')

Média: 3.0
Mediana: 3.0
Desvio Padrão: 1.4142135623730951

## Leitura e Escrita de Arquivos

In [42]:
"""
CSV, JSON, Excel
Banco de Dados com SQLAlchemy ou psycopg2
"""

df.to_csv('data\\testeCSV.csv', index=False)

#Json
df.to_json(r'data\testJSON', orient='records', lines=True)

# Automação e ETL